
.appbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // width: 100vw;
    padding: 1.5rem 16px;


    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 20;

    background: linear-gradient(
        rgba(white, .8),
        transparent
    );

    backdrop-filter: blur(10px);

    @media screen and (min-width: 768px) {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}


.appbar__logo_container {
    display: flex;
    align-items: center;
}

.appbar__logo_image {
    width: 48px;
    height: 48px;
    margin-right: .5rem;
    border-radius: 50%;
    background-color: transparent;
}

.appbar__text {
    font-weight: bold;
}

.appbar__title {
    font-size: 1.2rem;
    display: none;

    @media screen and (min-width: 768px) {
        display: inline-block;
    }
}

.appbar__bytext {
    font-style: italic;
}